<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h4>{{site.title}}</h4>
                    <p>{{site.description}}</p>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h4>Links</h4>
                    <ul>
                        <li>Home</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-3">
                    <h4>Follow us!</h4>
                    <ul>
                        <li>YouTube</li>
                        <li>Google+</li>
                    </ul>
                </div>
            </div>
        </div> 
    </div>
    <div class="footer-bottom">
        <div class="container">
            Copyright 2016, Mann Robotics. All rights reserved.
        </div>
    </div>
</footer>