<!-- Main component for a primary marketing message or call to action -->
<div id="site-main-jumbotron-bg"></div>
<div class="jumbotron" id="site-main-jumbotron">
    <div class="container">
        <h2>We're Mann's VRC Team</h2>
        <p>... dolor sit amet consectetur adipiscing elit. Pellentesque non massa vitae purus iaculis tincidunt. Cras efficitur at libero quis finibus. Donec quis eros dui. Praesent neque lacus, elementum sit amet vehiculae.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="#about" role="button">More about us &raquo;</a>
        </p>
    </div>
</div>
