<!-- jQuery Library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Bootstrap Scripts -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Waves Library -->
<script src="{{site.url}}js/waves.min.js"></script>

<!-- jQuery dotdotdot Library -->
<script src="{{site.url}}js/jquery.dotdotdot.min.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Page Init Library -->
<script src="{{site.url}}js/initFX-lib.js"></script>

<script>

    $(document).ready(function() {
        // Initialize the Waves plugin
        initFunctions.waves();
        
        // Initialize collapsible elements.
        initFunctions.collapse();

        {% if page.desktopUnCollapse %}// Make collapsible panels open by default on desktop
        initFunctions.desktopUnCollapse();
        {% else %}// Desktop UnCollapse not requested.{% endif %}

        {% if page.dotdotdot %}// Initialize the dotdotdot truncation plugin.
        initFunctions.dotdotdot();
        {% else %}// dotdotdot plugin not requested.{% endif %}
        {% for request in page.initDeps %}// Initialize {{request}}
        initFunctions.{{request}}(); 
        {% endfor %}

    });

</script>