<!--<script>

    $(document).ready(function() {
        // Initialize the Waves plugin
        initFunctions.waves();
        
        // Initialize collapsible elements.
        initFunctions.collapse();

        {% if page.desktopUnCollapse %}// Make collapsible panels open by default on desktop
        initFunctions.desktopUnCollapse();
        {% else %}// Desktop UnCollapse not requested.{% endif %}

        {% if page.dotdotdot %}// Initialize the dotdotdot truncation plugin.
        initFunctions.dotdotdot();
        {% else %}// dotdotdot plugin not requested.{% endif %}
        {% for request in page.initDeps %}// Initialize {{request}}
        initFunctions.{{request}}(); 
        {% endfor %}

    });

</script>-->